<mat-toolbar class="header">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon routerLink="home">home</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon routerLink="menu">view_list</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon routerLink="moreinfo">send</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <h1 style="font-size: xx-large;">RECIPE BOOK</h1>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
